<div class="row">
  <div class="col-md-2">
    <marcaje-sidebar></marcaje-sidebar>
  </div>
  <div class="col-md-10">
    <div class="container mt-5">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Registro de Salida</h1>
          </div>
          <div class="card-body">
            <form (ngSubmit)="registrarSalida()">
              <div class="form-group">
                <label for="horaSalida">Hora Actual:</label>
                <input type="text" id="horaSalida" class="form-control" [value]="horaActual" readonly>
              </div>
              <div class="text-center button-group">
                <button type="submit" class="btn btn-primary" [disabled]="!registrarSalida">Registrar Salida</button>
                <button class="btn btn-secondary" (click)="salir()"> Salir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>