<div class="row">
  <div class="col-md-2">
    <marcaje-sidebar></marcaje-sidebar>
  </div>

  <div class="col-md-10">
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Lista de Marcaje</h2>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Hora de Entrada</th>
                <th>Hora de Salida</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let marcaje of marcajes; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ marcaje.horaEntrada ? convertirFechaHora(marcaje.horaEntrada) : 'No Registrada' }}</td>
                <td>{{ marcaje.horaSalida ? convertirFechaHora(marcaje.horaSalida) : 'No Registrada' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-secondary" [routerLink]="['/marcajes/entrada']">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>